<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>PAYMYBUDDY</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
</head>
<body>
<!-- create navigation bar ( header) -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<div class="container-fluid text-center">
					<a class="navbar-brand" href="#" th:href="@{/}">Pay My Buddy</a>
					<a class="navbar-brand" href="#" th:href="@{/transaction}">Home</a>
					<a class="navbar-brand" href="#" th:href="@{/}">Transfer</a>
					<a class="navbar-brand" href="#" th:href="@{/}">Profil</a>
					<a class="navbar-brand" href="#" th:href="@{/}">Contact</a>
				</div>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Log off</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<br>
	<br>

	<div class="container">
		<div class="row">
			<h1>List Users</h1>
		</div>
		
		<table class="table table-striped table-bordered">
			<thead class="table-dark">
				<tr>
					<th>User First Name</th>
					<th>User LastName</th>
					<th>User Email</th>
					<th>Selection</th>
					
				</tr>
			</thead>
			<tbody>
				<tr th:each="user: ${users}">
			<td th:text="${user.firstName}"></td>
					<td th:text="${user.lastName}"></td>
					<td th:text="${user.email}"></td>
					<td>
					<a th:href ="@{/users/{id}(id=${user.id})}" class = "btn btn-primary">Connection</a>
					</tbody>
		</table>
	</div>
</body>
</html>